#gaedff {
	width: 100%;
	/*padding-right: 100px;*/
}

#gaedff *,
#gaedff *:before,
#gaedff *:after {
	box-sizing: border-box;
}

#chartVisits {
	width: 100%;
	/*margin: auto;*/
	/*padding: 10px;*/
}

.dashboard{
	position: relative;
	/*max-width: 52em;*/
	width: 100%;
	max-width: 100%;
	/*min-height: 352px;*/
	padding: 26px;
	margin-top: 26px;
	background-color: #FFF;
	border: 1px solid #D4D2D0;
	border-radius: 4px;
}
.dashboard-half {
	float: left;
	max-width: 48%;
}
.dashboard-half + .dashboard-half {
	float: right;
}

#dateRangeVisits {
	min-height: 48px;
}

.DateRangeSelector_item {
	display: inline-block;
	width: 15em;
}
.DateRangeSelector_item label {
	display: block;
	max-width: 100%;
	font-weight: 700;
}
.DateRangeSelector_item input {
	display: block;
	max-width: 100%;
}


#activeUsers {
	position: absolute;
	top: 26px;
	right: 26px;
}

.ActiveUsers {
	background-color: #F3F2F0;
	border: 1px solid #D4D2D0;
	border-radius: 4px;
	font-weight: 300;
	padding: 0.5em 1.5em;
	white-space: nowrap;
}
.ActiveUsers_value {
    display: inline-block;
    font-weight: 600;
    margin-right: -0.25em;
}

.ActiveUsers.is-increasing {
	animation: 3s ease 0s normal none 1 running increase;
}
@keyframes increase {
	10% {
		background-color: #EAFFEA;
		border-color: rgba(0, 127, 0, 0.5);
		color: #007F00;
	}
}

.ActiveUsers.is-decreasing {
	animation: 3s ease 0s normal none 1 running decrease;
}
@keyframes decrease {
	10% {
		background-color: #FFEAEA;
		border-color: rgba(255, 0, 0, 0.5);
		color: #F00;
	}
}
